
@{
    ViewBag.Title = "Fórum";
}
<script>
    @{
        @:window.usuario = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Usuario));
    }
</script>

<h2 class="inverter center">Fórum</h2>
<form action="/forum" method="get">
    <input type="search" id="txtPesquisarForum" placeholder="Pesquise aqui..." name="pesquisa" value="@ViewBag.Pesquisa"><input type="submit" value=""/> <button class="btn" type="submit" id="btnPesquisarForum"><i class="material-icons">search</i></button>
</form>

<hr />

<ul class="collection with-header colecaoResultado">
    <li class="collection-header"><h4>Resultados</h4></li>
    <li class="collection-item active" onclick="mostrarTab('usuarios', true)" id="itemUsuarios">Usuários<span class="qtdeResultados">@ViewBag.Usuarios.Count</span></li>
    <li class="collection-item" onclick="mostrarTab('eventos', true)" id="itemEventos">Eventos<span class="qtdeResultados">@ViewBag.Eventos.Count</span></li>
    <li class="collection-item" onclick="mostrarTab('publicacoes', true)" id="itemPublicacoes">Publicações<span class="qtdeResultados">@ViewBag.Publicacoes.Count</span></li>
</ul>
<div class="resultados">
    <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#usuarios" id="tabUsuarios" onclick="mostrarTab('usuarios')">Usuários (@ViewBag.Usuarios.Count)</a></li>
        <li class="tab col s3"><a href="#eventos" id="tabEventos" onclick="mostrarTab('eventos')">Eventos (@ViewBag.Eventos.Count)</a></li>
        <li class="tab col s3"><a href="#publicacoes" id="tabPublicacoes" onclick="mostrarTab('publicacoes')">Publicações (@ViewBag.Publicacoes.Count)</a></li>
    </ul>
    <div id="usuarios">
        <div class="collection with-header">
            @{
                string resultados;
                if (ViewBag.Usuarios.Count == 0)
                {
                    resultados = "Nenhum usuário foi encontrado.";
                }
                else if (ViewBag.Usuarios.Count == 1)
                {
                    resultados = "1 usuário encontrado:";
                }
                else
                {
                    resultados = ViewBag.Usuarios.Count + " usuários encontrados:";
                }

            }
            <div class="collection-header"><h4>@resultados</h4></div>
            @foreach (GITS.ViewModel.Usuario usuario in ViewBag.Usuarios)
            {
                <a href="/perfil/@usuario.Id" class="collection-item avatar">
                    <img src="@usuario.FotoPerfil" alt="" class="circle">
                    <span class="title">@usuario.Nome</span>
                    <p>
                        "@usuario.Status"
                    </p>
                </a>
            }
        </div>
    </div>
    <div id="eventos">
        @{
            if (ViewBag.Eventos.Count == 0)
            {
                resultados = "Nenhum evento foi encontrado.";
            }
            else if (ViewBag.Eventos.Count == 1)
            {
                resultados = "1 evento encontrado:";
            }
            else
            {
                resultados = ViewBag.Eventos.Count + " eventos encontrados:";
            }

        }
        <h4 style="margin-left: 20px;">@resultados</h4>
        <ul class="collapsible acontecimentos">
            @foreach (GITS.ViewModel.Acontecimento acontecimento in ViewBag.Eventos)
            {
                <li>
                    @{ var src = new GITS.ViewModel.Usuario(acontecimento.IdUsuariosAdmin[0]).FotoPerfil;}
                    <div class="collapsible-header">
                        <img src="~/Images/iconeDataTarefa.png" /><span class="dataAcontecimento">@acontecimento.Data.Substring(0, 10)</span>&nbsp;&nbsp;&nbsp; <b class="center-aligned">@acontecimento.Titulo</b> <img style="position: absolute; right: 5px;" src="@src" class="circle fotoUsuarioCriadorEvento" />
                    </div>
                    <div class="collapsible-body">
                        <p class="flow-text">
                            @acontecimento.Descricao
                        </p>
                        <a href="/acontecimentos/@acontecimento.CodAcontecimento">Ver mais</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div id="publicacoes">
        @{
            if (ViewBag.Publicacoes.Count == 0)
            {
                resultados = "Nenhuma publicação foi encontrada.";
            }
            else if (ViewBag.Publicacoes.Count == 1)
            {
                resultados = "1 publicação encontrada:";
            }
            else
            {
                resultados = ViewBag.Publicacoes.Count + " publicações encontradas:";
            }

        }
        <h4 style="margin-left: 20px;">@resultados</h4>
        @foreach (var publicacao in ViewBag.Publicacoes)
        {
            var post = "post" + publicacao.IdPublicacao;
            var disabled = (ViewBag.Usuario == null ? "disabled" : "");
            <div class="containerPost" id="@post">
                <div class="informacoesPessoaisPublicacao">
                    <a href="/Perfil/@publicacao.IdUsuario"><img class="fotoUsuarioPublicacao" src="@publicacao.Usuario.FotoPerfil" /></a>
                    <span class="nomeUsuarioPublicacao">@publicacao.Usuario.Nome</span>
                    <span class="horarioPublicacao">@publicacao.Data.ToString("dd/MM/yyyy") às @publicacao.Data.ToString("t")</span>

                    @if (ViewBag.Usuario != null && ViewBag.Usuario.Id == publicacao.IdUsuario)
                    {
                        <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @publicacao.IdPublicacao"><i class="material-icons">delete</i></a>
                        <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@publicacao.IdPublicacao)">edit</i></a>
                    }

                    <ul class="right">
                        @foreach (var usuario in publicacao.UsuariosMarcados)
                        {
                            <li>
                                <a href="/perfil/@usuario.Id">
                                    <div class="chip">
                                        <img src="@usuario.FotoPerfil">
                                        @usuario.Nome
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                @{
                    var titulo = "titulo" + publicacao.IdPublicacao;
                    var descricao = "descricao" + publicacao.IdPublicacao;
                    var like = "like" + publicacao.IdPublicacao;
                    var likes = "likes" + publicacao.IdPublicacao;
                }
                <h4 class="tituloPublicacao" id="@titulo"><a href="/publicacao/@publicacao.IdPublicacao" class="linkSemDecoracao inverter">@publicacao.Titulo</a></h4>
                <hr />
                <p class="flow-text textoPublicacao" id="@descricao">@publicacao.Descricao</p>
                <hr />
                <div style="display: table">
                    <div style="display: table-row">
                        <div style="display: table-cell">
                            <div class="btn-small btnGostar @disabled @(ViewBag.Usuario == null || !publicacao.Gostou(ViewBag.Usuario.Id) ? "grey" : "")" id="@like" onclick="gostarOuDesgostarDe(@publicacao.IdPublicacao)">
                                <i class="material-icons">thumb_up</i>
                            </div>
                        </div>
                        <div class="qtosLikes" id="@likes">@publicacao.Likes</div>
                        @if (ViewBag.Usuario != null)
                        {
                            <div class="responder"><span onclick="iniciarResposta(@publicacao.IdPublicacao)">Responder</span></div>
                        }
                        @{ var mostrar = "mostrar" + publicacao.IdPublicacao; }
                        <div id="@mostrar" class="mostrarComentarios"><span onclick="mostrarComentarios(@publicacao.IdPublicacao, this)">Mostrar comentários</span></div>
                    </div>
                </div>
            </div>
            @helper CarregarComentarios(GITS.ViewModel.Publicacao publ, int profundidade)
                {
                    if (publ.Comentarios.Count > 0)
                    {
                        var collapsible = "collapsible" + publ.IdPublicacao;
                        <ul class="collapsible expandable" id="@collapsible" style="display: none;">
                            <li>
                                <div class="collapsible-header" style="display: none">Comentários</div>
                                <div class="collapsible-body corpoComentario" style="padding-top: 0;">
                                    @foreach (var comentario in publ.Comentarios)
                                    {
                                        var post = "post" + comentario.IdPublicacao;
                                        var profund = "profundidade" + (profundidade < 3 ? profundidade : 3);
                                        <div class="containerPost @profund comentario" id="@post" style="margin-top: 2px;">
                                            <div class="informacoesPessoaisPublicacao">
                                                <a href="/Perfil/@comentario.IdUsuario"><img class="fotoUsuarioPublicacao" src="@comentario.Usuario.FotoPerfil" /></a>
                                                <span class="nomeUsuarioPublicacao">@comentario.Usuario.Nome</span>
                                                <span class="horarioPublicacao">@comentario.Data.ToString("dd/MM/yyyy") às @comentario.Data.ToString("t")</span>

                                                @if (ViewBag.Usuario != null && ViewBag.Usuario.Id == comentario.IdUsuario)
                                                {
                                                    <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @comentario.IdPublicacao"><i class="material-icons">delete</i></a>
                                                    <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@comentario.IdPublicacao, true)">edit</i></a>
                                                }
                                            </div>
                                            @{
                                                var descricao = "descricao" + comentario.IdPublicacao;
                                                var like = "like" + comentario.IdPublicacao;
                                                var likes = "likes" + comentario.IdPublicacao;
                                            }
                                            <p class="flow-text textoPublicacao" id="@descricao">@comentario.Descricao</p>
                                            <hr />
                                            <div style="display: table">
                                                <div style="display: table-row">
                                                    <div style="display: table-cell"><div class="btn-small btnGostar @(ViewBag.Usuario == null || !comentario.Gostou(ViewBag.Usuario.Id) ? "grey" : "")" id="@like" onclick="gostarOuDesgostarDe(@comentario.IdPublicacao)"><i class="material-icons">thumb_up</i></div></div>
                                                    @{var disabled = (ViewBag.Usuario == null ? "disabled" : "");}
                                                    <div class="qtosLikes" id="@likes">@comentario.Likes</div>
                                                    @if (ViewBag.Usuario != null)
                                                    {
                                                        <div class="responder"><span onclick="iniciarResposta(@comentario.IdPublicacao)">Responder</span></div>
                                                    }
                                                    @{ var mostrar = "mostrar" + comentario.IdPublicacao; }
                                                    <div id="@mostrar" class="mostrarComentarios"><span onclick="mostrarComentarios(@comentario.IdPublicacao, this)">Mostrar comentários</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        @CarregarComentarios(comentario, profundidade + 1);
                                    }
                                </div>
                            </li>
                        </ul>
                        <script>
                                    $("#mostrar" + @publ.IdPublicacao).children(0).text(`Mostrar comentários (${@publ.Comentarios.Count})`);
                        </script>
                    }
                    else
                    {
                        <script>
                                    $("#mostrar" + @publ.IdPublicacao).remove();
                        </script>
                    }
    }
            @CarregarComentarios(publicacao, 1);
        }
    </div>
</div>

@if (ViewBag.Usuario != null)
{
    <div id="modalDeletar" class="modal">
        <div class="modal-content">
            <h4>Aviso</h4>
            <p>Deseja realmente excluir esta publicação? A ação não poderá ser desfeita.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="deletarPublicacao()">Continuar</a>
        </div>
    </div>

    <div id="modalEditar" class="modal">
        <div class="modal-content containerPost containerEditar">
            <h4 class="flow-text">Editar Publicação</h4>
            <input type="text" placeholder="Título" id="tituloEditar" maxlength="100">
            <textarea class="materialize-textarea txtEditar" placeholder="Escreva algo..."></textarea>
            <div class="btn btnEditar" onclick="editarPublicacao()">Atualizar</div>
        </div>
    </div>
}

<link href="~/Content/forum.css" rel="stylesheet" />
<link href="../../Content/publicacao.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/forum.js"></script>
<script src="~/Scripts/publicacao.js"></script>
