
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="../../Content/home.css" type="text/css">
<link href="../../Content/publicacao.css" rel="stylesheet" type="text/css" />
<script>
    @{
        @:window.usuario = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Usuario));
    }
</script>
<div id="containerConteudo">
    <div class="carousel carousel-slider center" id="carouselImportante">
        <div class="carousel-fixed-item center">
            @if (ViewBag.Usuario.Tarefas.Count != 0)
            {<a class="btn waves-effect white grey-text darken-text-2">Saiba mais</a>}
        </div>
    </div>

    <aside id="tarefas">
        <h3>Lista de Tarefas</h3>

        <ul class="collapsible" id="listaTarefas">
            @foreach (GITS.ViewModel.Tarefa t in ViewBag.Usuario.Tarefas)
            {
                if (!(t.Terminada && DateTime.ParseExact(t.Data, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) < DateTime.Now))
                {
                    <li style="position: relative;">
                        <div class="collapsible-header">
                            <label style="width: auto; max-width: 52.5%;">
                                <input @(t.Terminada ? "checked=checked onclick=alterarEstadoTarefa(" + Html.Raw("'Deseja&nbsp;continuar&nbsp;essa&nbsp;tarefa?'") + "," + (t.CodTarefa) + ",false,this);" : "onclick=alterarEstadoTarefa(" + Html.Raw("'Deseja&nbsp;completar&nbsp;essa&nbsp;tarefa?'") + "," + (t.CodTarefa) + ",true,this)") type="checkbox" />
                                <span style="height: 100%;">@t.Titulo</span>
                            </label>
                            <div class="infoData valign-wrapper">
                                <span>@t.Data</span>
                                <img src="../../Images/iconeDataTarefa.png">
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span>@t.Descricao</span><br />
                            <a href="/tarefas/@t.CodTarefa">Ver mais</a>
                        </div>
                    </li>
                }
            }
        </ul>

        <a class="btn-floating btn-large waves-effect waves-light red" id="adicionarTarefa" onclick="adicionarEvento();"><i class="material-icons">add</i></a>
    </aside>

    <div class="apenasTelasMaiores">
        <div class="conteudo">
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a onclick="acionarImg()" href="#metasObjetivos"><img id="imgObjetivos" class="iconeVerticalmenteAlinhado" style="width: 1.5rem; height: 1.5rem; opacity: 0.7;" src="~/Images/objetivo.png" />Metas e Objetivos</a></li>
                <li class="tab col s3"><a onclick="acionarImg()" class="active" href="#tabAgenda"><i class="material-icons iconeVerticalmenteAlinhado">today</i>Agenda</a></li>
                <li class="tab col s3"><a onclick="acionarImg()" href="#feed"><i class="material-icons iconeVerticalmenteAlinhado">forum</i>Feed</a></li>
                <li class="tab col s3"><a onclick="acionarImg()" href="#loja"><i class="material-icons iconeVerticalmenteAlinhado">shopping_cart</i>Loja</a></li>
            </ul>
            <div id="metasObjetivos" class="metasObjetivos col s12">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" style="margin: 10px;" href="#modalAdicionarEditarMeta" onclick="comecarAdicaoMeta()">
                    <i class="material-icons">add</i>
                </a>
                <h5 style="display: inline-block; position: relative; top: 5px; margin-left: -5px;">Adicionar meta</h5>
                <ul class="collapsible" id="listaMetas">
                    @foreach (GITS.ViewModel.Meta m in ViewBag.Usuario.Metas)
                    {
                        <li style="position: relative;">
                            <div class="collapsible-header">
                                <label style="width: auto; max-width: 85%;">
                                    <input type="checkbox" onclick="alterarEstadoMeta(@m.CodMeta, this)"/>
                                    <span style="height: 100%;">@m.Titulo</span>
                                </label>
                                @if (m.Data != null)
                                {
                                    <div class="infoData valign-wrapper">
                                        <span>@m.Data</span>
                                        <img src="../../Images/iconeDataTarefa.png">
                                    </div>
                                }
                            </div>
                            <div class="collapsible-body" style="font-size: 1.2em;">
                                @{ var metaSerializada = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(m);}
                                <a class="btn-small btnEditarMeta modal-trigger" href="#modalAdicionarEditarMeta" onclick="comecarEdicaoMeta(@metaSerializada)"><i class="material-icons">edit</i></a><a class="btn-small btnRemoverMeta modal-trigger" href="#modalRemoverMeta" onclick="metaARemover = @m.CodMeta"><i class="material-icons">delete</i></a>
                                <div style="float: right; clear: both;">
                                    <div class="gitcoin"></div>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("pt-BR"), "{0:N}", m.GitcoinsObtidos) obtido(s) até o momento<br />
                                </div>
                                <div style="max-width: 80%"><b>Descrição: </b>@m.Descricao</div>
                                <div><b>Recompensa: </b><div class="gitcoin"></div>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("pt-BR"), "{0:N}", m.Recompensa)</div>
                                @if (m.Data != null)
                                {<div><b>Data prevista: </b>@m.Data</div>}
                                <div>
                                    @{ var salvarProgresso = "salvarProgresso" + m.CodMeta;
                                        var progresso = "progresso" + m.CodMeta; }
                                    <b>Progresso: </b><div id="@salvarProgresso" class="btn-small salvarProgresso" style="display: none" onclick="salvarProgresso(@m.CodMeta)">Salvar</div>
                                    <div id="@progresso" class="progresso @m.Progresso" style="margin-top: 5px"></div>
                                </div>
                                <div style="width: 100%" class="center-align">
                                    @if (m.TarefasCompletas > 1)
                                    {<span>Você já completou @m.TarefasCompletas tarefas desta meta!</span>}
                                else if (m.TarefasCompletas == 1)
                                { <span>Você já completou 1 tarefa desta meta!</span>}
                                else
                                { <span>Você ainda não completou tarefas desta meta.</span>}
                                </div>
                                @{ var tarefasRelacionadas = m.TarefasRelacionadas;}
                                @if (tarefasRelacionadas != null && tarefasRelacionadas.Count > 0)
                                {
                                    <div><b>Tarefas ativas relacionadas:</b></div>
                                    <div class="container">
                                        <ul class="collapsible">
                                            @foreach (var t in tarefasRelacionadas)
                                            {
                                                <li style="position: relative;">
                                                    <div class="collapsible-header">
                                                        <label style="width: auto; max-width: 52.5%;">
                                                            <input @(t.Terminada ? "checked=checked onclick=alterarEstadoTarefa(" + Html.Raw("'Deseja&nbsp;continuar&nbsp;essa&nbsp;tarefa?'") + "," + (t.CodTarefa) + ",false,this);" : "onclick=alterarEstadoTarefa(" + Html.Raw("'Deseja&nbsp;completar&nbsp;essa&nbsp;tarefa?'") + "," + (t.CodTarefa) + ",true,this)") type="checkbox" />
                                                            <span style="height: 100%;">@t.Titulo</span>
                                                        </label>
                                                        <div class="infoData valign-wrapper">
                                                            <span>@t.Data</span>
                                                            <img src="../../Images/iconeDataTarefa.png">
                                                        </div>
                                                    </div>
                                                    <div class="collapsible-body">
                                                        <span>@t.Descricao</span><br />
                                                        <a class="tarefaVerMais" href="/tarefas/@t.CodTarefa">Ver mais</a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div id="tabAgenda">

            </div>
            <div id="feed" class="feed col s12">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" style="margin: 10px;" href="#modalAdicionarPost">
                    <i class="material-icons">add</i>
                </a>
                <h5 style="display: inline-block; position: relative; top: 5px; margin-left: -5px;">Adicionar publicação</h5>

                @foreach (var publicacao in ViewBag.Feed)
                {
                    var post = "post" + publicacao.IdPublicacao;
                    <div class="containerPost" id="@post">
                        <div class="informacoesPessoaisPublicacao">
                            <a href="/Perfil/@publicacao.IdUsuario"><img class="fotoUsuarioPublicacao" src="@publicacao.Usuario.FotoPerfil" /></a>
                            <span class="nomeUsuarioPublicacao">@publicacao.Usuario.Nome</span>
                            <span class="horarioPublicacao">@publicacao.Data.ToString("dd/MM/yyyy") às @publicacao.Data.ToString("t")</span>

                            @if (ViewBag.Usuario.Id == publicacao.IdUsuario)
                            {
                                <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @publicacao.IdPublicacao"><i class="material-icons">delete</i></a>
                                <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@publicacao.IdPublicacao)">edit</i></a>
                            }

                            <ul class="right">
                                @foreach (var usuario in publicacao.UsuariosMarcados)
                                {
                                    <li>
                                        <a href="/perfil/@usuario.Id">
                                            <div class="chip">
                                                <img src="@usuario.FotoPerfil">
                                                @usuario.Nome
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @{
                            var titulo = "titulo" + publicacao.IdPublicacao;
                            var descricao = "descricao" + publicacao.IdPublicacao;
                            var like = "like" + publicacao.IdPublicacao;
                            var likes = "likes" + publicacao.IdPublicacao;
                        }
                        <h4 class="tituloPublicacao" id="@titulo"><a href="/publicacao/@publicacao.IdPublicacao" class="linkSemDecoracao">@publicacao.Titulo</a></h4>
                        <hr />
                        <p class="flow-text textoPublicacao" id="@descricao">@publicacao.Descricao</p>
                        <hr />
                        <div style="display: table">
                            <div style="display: table-row">
                                <div style="display: table-cell">
                                    <div class="btn-small btnGostar @(ViewBag.Usuario == null || !publicacao.Gostou(ViewBag.Usuario.Id) ? "grey" : "")" id="@like" onclick="gostarOuDesgostarDe(@publicacao.IdPublicacao)">
                                        <i class="material-icons">thumb_up</i>
                                    </div>
                                </div>
                                <div class="qtosLikes" id="@likes">@publicacao.Likes</div>
                                <div class="responder"><span onclick="iniciarResposta(@publicacao.IdPublicacao)">Responder</span></div>
                                @{ var mostrar = "mostrar" + publicacao.IdPublicacao; }
                                <div id="@mostrar" class="mostrarComentarios"><span onclick="mostrarComentarios(@publicacao.IdPublicacao, this)">Mostrar comentários</span></div>
                            </div>
                        </div>
                    </div>
                    @helper CarregarComentarios(GITS.ViewModel.Publicacao publ, int profundidade)
                    {
                        if (publ.Comentarios.Count > 0)
                        {
                            var collapsible = "collapsible" + publ.IdPublicacao;
                            <ul class="collapsible expandable" id="@collapsible" style="display: none;">
                                <li>
                                    <div class="collapsible-header" style="display: none">Comentários</div>
                                    <div class="collapsible-body corpoComentario" style="padding-top: 0;">
                                        @foreach (var comentario in publ.Comentarios)
                                        {
                                            var post = "post" + comentario.IdPublicacao;
                                            var profund = "profundidade" + (profundidade < 3 ? profundidade : 3);
                                            <div class="containerPost @profund comentario" id="@post" style="margin-top: 2px;">
                                                <div class="informacoesPessoaisPublicacao">
                                                    <a href="/Perfil/@comentario.IdUsuario"><img class="fotoUsuarioPublicacao" src="@comentario.Usuario.FotoPerfil" /></a>
                                                    <span class="nomeUsuarioPublicacao">@comentario.Usuario.Nome</span>
                                                    <span class="horarioPublicacao">@comentario.Data.ToString("dd/MM/yyyy") às @comentario.Data.ToString("t")</span>

                                                    @if (ViewBag.IdUsuarioLogado != null && ViewBag.IdUsuarioLogado == comentario.IdUsuario)
                                                    {
                                                        <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @comentario.IdPublicacao"><i class="material-icons">delete</i></a>
                                                        <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@comentario.IdPublicacao)">edit</i></a>
                                                    }
                                                </div>
                                                @{
                                                    var descricao = "descricao" + comentario.IdPublicacao;
                                                    var like = "like" + comentario.IdPublicacao;
                                                    var likes = "likes" + comentario.IdPublicacao;
                                                }
                                                <p class="flow-text textoPublicacao" id="@descricao">@comentario.Descricao</p>
                                                <hr />
                                                <div style="display: table">
                                                    <div style="display: table-row">
                                                        <div style="display: table-cell"><div class="btn-small btnGostar @(ViewBag.Usuario == null || !comentario.Gostou(ViewBag.Usuario.Id) ? "grey" : "")" id="@like" onclick="gostarOuDesgostarDe(@comentario.IdPublicacao)"><i class="material-icons">thumb_up</i></div></div>
                                                        <div class="qtosLikes" id="@likes">@comentario.Likes</div>
                                                        <div class="responder"><span onclick="iniciarResposta(@comentario.IdPublicacao)">Responder</span></div>
                                                        @{ var mostrar = "mostrar" + comentario.IdPublicacao; }
                                                        <div id="@mostrar" class="mostrarComentarios"><span onclick="mostrarComentarios(@comentario.IdPublicacao, this)">Mostrar comentários</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            @CarregarComentarios(comentario, profundidade + 1);
                                        }
                                    </div>
                                </li>
                            </ul>
                            <script>
                                    $("#mostrar" + @publ.IdPublicacao).children(0).text(`Mostrar comentários (${@publ.Comentarios.Count})`);
                            </script>
                        }
                        else
                        {
                            <script>
                                    $("#mostrar" + @publ.IdPublicacao).remove();
                            </script>
                        }
                    }
                    @CarregarComentarios(publicacao, 1);
                }
            </div>
            <div id="loja" class="loja col s12" style="width: 100%; height: calc(100% - 48px);">
                <div class="conteudoLoja">
                    <div class="collection" style="width: 130px; margin-top: 0; margin-bottom: 0; position: relative; top: 90px;">
                        <a href="#!" id="tabTitulos" class="collection-item active" onclick="mudarTableLoja(this)">Títulos</a>
                        <a href="#!" id="tabDecoracoes" class="collection-item" onclick="mudarTableLoja(this)">Decorações</a>
                        <a href="#!" id="tabInsignias" class="collection-item" onclick="mudarTableLoja(this)">Insignias</a>
                        <a href="#!" id="tabTemas" class="collection-item" onclick="mudarTableLoja(this)">Temas do site</a>
                    </div>
                    <div id="atualLoja">
                    </div>
                </div>
            </div>
            <div id="tabTarefas" style="display: none;">
                <ul class="collapsible" id="tabListaTarefas">
                    @foreach (GITS.ViewModel.Tarefa t in ViewBag.Usuario.Tarefas)
                    {
                        <li style="position: relative;">
                            <div class="collapsible-header">
                                <label style="width: auto; max-width: 52.5%;">
                                    <input type="checkbox" />
                                    <span style="height: 100%;">@t.Titulo</span>
                                </label>
                                <div class="infoData valign-wrapper">
                                    <span>@t.Data</span>
                                    <img src="../../Images/iconeDataTarefa.png">
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <span>@t.Descricao</span>
                            </div>
                        </li>
                    }
                </ul>
                <a class="btn-floating btn-large waves-effect waves-light red" onclick="adicionarEvento();"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <div id="slideEsquerda" class="sidenav">
        <a href="perfil"><div class="imgPerfil hoverable" style="background: url('@ViewBag.Usuario.FotoPerfil') center; background-size: cover;"></div></a>
        <div class="nomeUsuario"><span><a href="perfil" class="linkSemDecoracao inverter">@ViewBag.Usuario.Nome</a> • <div class="gitcoin" style="vertical-align: -0.1em;filter: brightness(.6)"></div>@ViewBag.Usuario.Dinheiro</span></div>
        <div class="tituloUsuario"><span id="spanTituloUsuario"></span></div>
        <div class="lvlUsuario"><span id="lvlUsuario">0</span></div>
        <div class="barraLvlUsuario"><span id="enchimentoBarra"></span></div>
        <div class="txtAmigos"><h1>Amigos</h1></div>
        <div id="amigos" class="amigos">
            @foreach (GITS.ViewModel.Amigo a in ViewBag.Usuario.Amigos)
            {
                if (a.FoiAceito)
                {
                    <div>
                        <a href="/perfil/@a.Id"><img src="@a.FotoPerfil" class="hoverable"></a> <a href="/perfil/@a.Id"><strong>@a.Nome</strong></a> <i>"@a.Status"</i>
                    </div>
                }
            }
        </div>
        <div class="pesquisarAmigo">
            <div class="input-field col s6">
                <i class="prefix material-icons">search</i>
                <input id="txtPesquisa" type="text" class="validate">
                <label for="txtPesquisa">Pesquisar amigo</label>
            </div>
        </div>
        <a class="grey lighten-3 black-text waves-effect waves-light btn modal-trigger" style="position: absolute;top: calc(100vh - 50px);left: 7em;" href="#modalOpcoesNotificacoes"><i style="vertical-align: bottom; font-size: 18px !important;" class="material-icons">settings</i><span>Opções</span></a>
    </div>
    <a data-target="slideEsquerda" id="triggerEsquerda" class="btn-floating btn-large waves-effect waves-light sidenav-trigger" data-tooltip="Painel"><i class="material-icons">menu</i></a>

    <div id="adicionarEvento" class="modal">
        <div class="modal-content">
            <h2>Adicionar um evento</h2>
            <div id="tipoEvento" style="width: 75%; left: 12.5%; position: relative;">
                <label><input type="radio" name="radioTipoEvento" class="with-gap" value="tarefa" id="radioTarefa" /><span style="font-size: 22.5px;">Tarefa</span></label>
                <label class="right"><input type="radio" name="radioTipoEvento" class="with-gap" value="acontecimento" id="radioAcontecimento" /><span style="font-size: 22.5px;">Acontecimento</span></label>
            </div>
            <br /><br />
            <div class="row" id="continuacaoAdicaoEvento" style="display: none;">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Lista de Exercícios" id="txtTitulo" type="text" class="validate" data-length="65">
                            <label for="txtTitulo">Título</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s9">
                            <input placeholder="Fazer os exercícios 3 e 4" id="txtDescricao" type="text" class="validate">
                            <label for="txtDescricao">Descrição</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="dataEvento" type="text" class="validate datepicker">
                            <label for="dataEvento">Data de entrega</label>
                        </div>
                    </div>
                    <div id="divTarefas">
                        <div class="row">
                            <div class="input-field col s9">
                                <label for="dificuldadeTarefa">Dificuldade da tarefa</label>
                                <div id="dificuldadeTarefa"></div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row" id="escolhaMeta">
                            <p class="col s4">
                                <label>
                                    <input id="chkMeta" type="checkbox" class="filled-in" />
                                    <span>Adicionar à meta</span>
                                </label>
                            </p>
                            <div class="input-field col s4" id="selectMeta">
                                <input type="text" id="txtMeta" class="autocomplete">
                                <label for="txtMeta">Meta</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col s10" style="transition: color 0.5s;">Convidar amigos para tarefa:</span>
                        <div class="chips chips-autocomplete" id="conviteAmigos"></div>
                    </div>
                    <div id="divAcontecimentos"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-blue btn-flat blue-text text-darken-2" id="reqAdmEvento">Requisitar admin</button>
            <button class="modal-close waves-effect waves-red btn-flat red-text text-darken-2" id="removerEvento">Sair</button>
            <button class="disabled modal-close waves-effect waves-green btn-flat" id="addEvento">Adicionar</button>
        </div>
    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Tarefas" id="btnAcionarTarefas" onclick="acionarTarefas()"></a>

<p id="yyy" style="display: none"></p>

<div id="modalDeletar" class="modal">
    <div class="modal-content">
        <h4>Aviso</h4>
        <p>Deseja realmente excluir esta publicação? A ação não poderá ser desfeita.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="deletarPublicacao()">Continuar</a>
    </div>
</div>

<div id="modalAdicionarPost" class="modal">
    <div class="modal-content containerPost">
        <input type="text" placeholder="Título" id="tituloPost" maxlength="100">
        <textarea class="materialize-textarea txtPostar" placeholder="Escreva algo..."></textarea>
        <div class="chips chips-autocomplete input-field chips-placeholder" id="chips"></div>
        <div class="btn btnPostar" disabled onclick="publicar()">Postar</div>
    </div>
</div>

<div id="modalEditar" class="modal">
    <div class="modal-content containerPost containerEditar">
        <h4 class="flow-text">Editar Publicação</h4>
        <input type="text" placeholder="Título" id="tituloEditar" maxlength="100">
        <textarea class="materialize-textarea txtEditar" placeholder="Escreva algo..."></textarea>
        <div class="btn btnEditar" onclick="editarPublicacao()">Atualizar</div>
    </div>
</div>
<div id="modalAdicionarEditarMeta" class="modal">
    <div class="modal-content">
        <h2 id="tituloAdicionarOuEditar">Adicionar uma meta</h2>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Leitura de livros" id="txtTituloMeta" type="text" class="validate" data-length="65">
                        <label for="txtTituloMeta">Título</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s9">
                        <textarea placeholder="Ler 12 livros até o final do ano" id="txtDescricaoMeta" type="text" class="materialize-textarea validate"></textarea>
                        <label for="txtDescricaoMeta">Descrição</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <div class="gitcoin" style="filter: brightness(.6)"></div>
                        <input placeholder="200,00" id="txtRecompensa" type="number" step="0.01" min="0" class="validate" style="width: calc(100% - 38px)">
                        <label for="txtRecompensa">Recompensa</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="dataMeta" type="text" class="validate datepicker">
                        <label for="dataMeta">Data prevista de término (Opcional)</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-red btn-flat red-text text-darken-2">Cancelar</button>
        <button class="disabled modal-close waves-effect waves-green btn-flat" id="addEditMeta" onclick="adicionarMeta()">Adicionar</button>
    </div>
</div>
<div id="modalRemoverMeta" class="modal">
    <div class="modal-content">
        <h4>Aviso</h4>
        <p>Deseja realmente excluir esta meta? A ação não poderá ser desfeita, e você não ganhará a recompensa.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="removerMeta()">Continuar</a>
    </div>
</div>
<div id="modalOpcoesNotificacoes" class="modal">
    <div class="modal-content">
        @{ var Usuario = (GITS.ViewModel.Usuario)ViewBag.Usuario;}
        <h4>Opções de notificação:</h4>
        <p>
            <label>
                <input type="checkbox" class="filled-in" id="notifRelatorio" @(Usuario.ConfiguracoesEmail.RelatorioDiario ? "checked=checked" : "") />
                <span>Desejo receber lembretes de tarefas e acontecimentos por e-mail</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" id="notifReqAdmin" @(Usuario.ConfiguracoesEmail.AdministracaoTarefa ? "checked=checked" : "") />
                <span>Desejo receber requisições de administração de minhas tarefas por e-mail</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" id="notifReqAmizade" @(Usuario.ConfiguracoesEmail.PedidosAmizade ? "checked=checked" : "") />
                <span>Desejo receber pedidos de amizade por e-mail</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" id="notifAceitarAmizade"  @(Usuario.ConfiguracoesEmail.NotificacoesAmizadesAceitas ? "checked=checked" : "")/>
                <span>Desejo receber notificações de amizades aceitas por e-mail</span>
            </label>
        </p>
    </div>
    <div class="modal-footer">
        <a id="mudarOpcoesNotif" onclick="atualizarNotificacoes()" class="modal-close blue white-text waves-effect waves-blue btn-flat">Salvar alterações</a>
    </div>
</div>

<script src="https://unpkg.com/popper.js"></script>
<script src="https://unpkg.com/tooltip.js"></script>
<script src="../../Scripts/home.js"></script>
<script src="~/Scripts/publicacao.js"></script>