
@{
    ViewBag.Title = "Perfil";
}

@if (ViewBag.Usuario == null)
{
    <h2>Usuário não encontrado</h2>
}
else
{
    <div id="idUsuarioYYY" style="display: none;">@ViewBag.Usuario.Id</div>
    <div id="xpAtual" style="display: none;">@ViewBag.Usuario.XP</div>
    <div id="infoUsuario">
        <div id="esquerda">
            <div id="conjuntoFotoXP" class="z-depth-5">
                <img id="fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" />
                <div id="containerXP">
                    <div id="nivel"><span id="levelUsuario">4</span></div>
                </div>
            </div>
            <div id="infoNomeTitulo">
                <h3 id="nome">@ViewBag.Usuario.Nome</h3>
                <h5>@ViewBag.Usuario.Titulo</h5>
            </div>
            @if (ViewBag.IsLoggedIn && !ViewBag.IsYourself && !ViewBag.IsYourFriend && !ViewBag.SolicitacaoAtiva)
            {<div class="btn" onclick="realizarSolicitacao(@ViewBag.Usuario.Id)">Adicionar como Amigo</div>}
            else if (ViewBag.IsYourFriend)
            {<div class="btn" onclick="excluirAmigo(@ViewBag.Usuario.Id)">Remover Amigo</div>}
            else if (ViewBag.SolicitacaoAtiva && !ViewBag.ConvidouVoce)
            {<div class="btn" onclick="excluirAmigo(@ViewBag.Usuario.Id)">Cancelar Solicitação</div>}
            else if (ViewBag.SolicitacaoAtiva && ViewBag.ConvidouVoce)
            {
                <div class="btn" onclick="aceitarSolicitacao(@ViewBag.Usuario.Id)">Aceitar Solicitação</div>
                <div class="btn" onclick="recusarSolicitacao(@ViewBag.Usuario.Id)">Recusar Solicitação</div>
            }
        </div>
        <div id="direita">
            <div id="status">
                <h4>Status</h4>
                @if (ViewBag.IsYourself)
                {
                    <div class="btn" id="btnEditar" onclick="comecarEdicao()">
                        <i class="material-icons">edit</i>
                    </div>
                }
                <p class="flow-text" id="txtStatus">
                    “@ViewBag.Usuario.Status”
                </p>
            </div>
            <div id="email">
                <h4>Email</h4>
                <p>@ViewBag.Usuario.Email</p>
            </div>
        </div>
    </div>
    <div class="row" id="baixo">
        <div class="col s4" id="eventos">
            <h4>Eventos</h4>
            <p class="flow-text">
                @if (ViewBag.IsYourself)
                {<span>Você</span>}
                else
                {<span>@ViewBag.Usuario.Nome</span>}
                não está participando de nenhum evento atualmente.
            </p>
            <div id="botoesEventos">
                @if (ViewBag.IsYourself)
                {
                    <div class="btn corInvertida bottom" id="btnPesquisarEventos">Pesquisar Eventos</div>
                    <a class="btn-floating btn-large waves-effect waves-light red bottom"><i class="material-icons">add</i></a>
                }
                else if (ViewBag.IsLoggedIn)
                { <div class="btn corInvertida bottom" id="btnConvidarParaEvento" onclick="convidarParaEvento($('#idUsuarioYYY').html())">Convidar para Evento</div>}
            </div>
        </div>

        <div class="col s8" id="feed">
            <h4>Feed</h4>
            @if (ViewBag.IsYourself)
            {
                <div class="containerPost">
                    <input type="text" placeholder="Título" id="tituloPost" maxlength="100">
                    <textarea class="materialize-textarea txtPostar" placeholder="Escreva algo..."></textarea>
                    <div class="chips chips-autocomplete input-field chips-placeholder" id="chips"></div>
                    <div class="btn btnPostar" disabled onclick="publicar()">Postar</div>
                </div>
            }
            @if (ViewBag.Publicacoes != null && ViewBag.Publicacoes.Count > 0)
            {
                foreach (var publicacao in ViewBag.Publicacoes)
                {
                    <div class="containerPost">
                        <div class="informacoesPessoaisPublicacao">
                            <a href="/Perfil/@publicacao.IdUsuario"><img class="fotoUsuarioPublicacao" src="@ViewBag.Usuario.FotoPerfil" /></a>
                            <span class="nomeUsuarioPublicacao">@ViewBag.Usuario.Nome</span>
                            <span class="horarioPublicacao">@publicacao.Data.ToString("dd/MM/yyyy") às @publicacao.Data.ToString("t")</span>

                            @if (ViewBag.IsYourself)
                            {
                                <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @publicacao.IdPublicacao"><i class="material-icons">delete</i></a>
                                <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@publicacao.IdPublicacao)">edit</i></a>
                            }

                            <ul class="right">
                                @foreach (var usuario in publicacao.UsuariosMarcados)
                                {
                                    <li>
                                        <a href="/perfil/@usuario.Id">
                                            <div class="chip">
                                                <img src="@usuario.FotoPerfil">
                                                @usuario.Nome
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                        @{
                            var titulo = "titulo" + publicacao.IdPublicacao;
                            var descricao = "descricao" + publicacao.IdPublicacao;
                        }
                        <h4 class="tituloPublicacao" id="@titulo"><a href="/publicacao/@publicacao.IdPublicacao" class="linkSemDecoracao">@publicacao.Titulo</a></h4>
                        <hr />
                        <p class="flow-text textoPublicacao" id="@descricao">@publicacao.Descricao</p>
                    </div>
                }
            }
            else
            {<h5>Não há publicações a exibir.</h5>}
        </div>
    </div>
}

@if (ViewBag.IsYourself)
{
    <div id="modalDeletar" class="modal">
        <div class="modal-content">
            <h4>Aviso</h4>
            <p>Deseja realmente excluir esta publicação? A ação não poderá ser desfeita.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="deletarPublicacao()">Continuar</a>
        </div>
    </div>

    <div id="modalEditar" class="modal">
        <div class="modal-content containerPost containerEditar">
            <h4 class="flow-text">Editar Publicação</h4>
            <input type="text" placeholder="Título" id="tituloEditar" maxlength="100">
            <textarea class="materialize-textarea txtEditar" placeholder="Escreva algo..."></textarea>
            <div class="btn btnEditar" onclick="editarPublicacao()">Atualizar</div>
        </div>
    </div>
}

<script src="../../Scripts/perfil.js"></script>
<script src="~/Scripts/publicacao.js"></script>
<link href="../../Content/perfil.css" rel="stylesheet" type="text/css" />
<link href="../../Content/publicacao.css" rel="stylesheet" type="text/css" />