
@{
    ViewBag.Title = "Perfil";
}

@if (ViewBag.Usuario == null)
{
    <h2>Usuário não encontrado</h2>
}
else
{
    <div id="idUsuarioYYY" style="display: none;">@ViewBag.Usuario.Id</div>
    <div id="infoUsuario">
        <div id="esquerda">
            <div id="conjuntoFotoXP" class="z-depth-5">
                <img id="fotoUsuario" src="@ViewBag.Usuario.FotoPerfil"/>
                <div id="containerXP">
                    <div id="nivel"><span>4</span></div>
                </div>
            </div>
            <div id="infoNomeTitulo">
                <h3 id="nome">@ViewBag.Usuario.Nome</h3>
                <h5>@ViewBag.Usuario.Titulo</h5>
            </div>
            
        </div>
        <div id="direita">
            <div id="status">
                <h4>Status</h4>
                <div class="btn" id="btnEditar" style="
                       display: none;
                    "><i class="material-icons">edit</i>
                </div>
                <p class="flow-text" id="txtStatus">
                    “@ViewBag.Usuario.Status”
                </p>
            </div>
            <div id="email">
                <h4>Email</h4>
                <p>@ViewBag.Usuario.Email</p>
            </div>
        </div>
    </div>
    <div class="row" id="baixo">
        <div class="col s4" id="eventos">
            <h4>Eventos</h4>
            <p class="flow-text"><span id="nomeOuVc"></span> não está participando de nenhum evento atualmente.</p>
        </div>
        <div class="col s8" id="feed">
            <h4>Feed</h4>
        </div>
    </div>
}

<script src="../../Scripts/perfil.js"></script>
<link href="../../Content/perfil.css" rel="stylesheet" type="text/css"/>