
@{
    ViewBag.Title = "Perfil";
}

@if (ViewBag.Usuario == null)
{
    <h2>Usuário não encontrado</h2>
}
else
{
    <div id="idUsuarioYYY" style="display: none;">@ViewBag.Usuario.Id</div>
    <div id="xpAtual" style="display: none;">@ViewBag.Usuario.XP</div>
    <div id="infoUsuario">
        <div id="esquerda">
            <div id="conjuntoFotoXP" class="z-depth-5">
                <img id="fotoUsuario" src="@ViewBag.Usuario.FotoPerfil" />
                <div id="containerXP">
                    <div id="nivel"><span id="levelUsuario">4</span></div>
                </div>
            </div>
            <div id="infoNomeTitulo">
                <h3 id="nome">@ViewBag.Usuario.Nome</h3>
                <h5>@ViewBag.Usuario.Titulo</h5>
            </div>
            @if (ViewBag.IsLoggedIn && !ViewBag.IsYourself && !ViewBag.IsYourFriend)
            {<div class="btn" onclick="realizarSolicitacao(@ViewBag.Usuario.Id)">Adicionar como Amigo</div>}
            else if (ViewBag.IsYourFriend)
            {<div class="btn" onclick="excluirAmigo(@ViewBag.Usuario.Id)">Remover amigo</div>}
        </div>
        <div id="direita">
            <div id="status">
                <h4>Status</h4>
                @if (ViewBag.IsYourself)
                {
                    <div class="btn" id="btnEditar" onclick="comecarEdicao()">
                        <i class="material-icons">edit</i>
                    </div>
                }
                <p class="flow-text" id="txtStatus">
                    “@ViewBag.Usuario.Status”
                </p>
            </div>
            <div id="email">
                <h4>Email</h4>
                <p>@ViewBag.Usuario.Email</p>
            </div>
        </div>
    </div>
    <div class="row" id="baixo">
        <div class="col s4" id="eventos">
            <h4>Eventos</h4>
            <p class="flow-text">
                @if (ViewBag.IsYourself)
                {<span>Você</span>}
                else
                {<span>@ViewBag.Usuario.Nome</span>}
                não está participando de nenhum evento atualmente.
            </p>
            <div id="botoesEventos">
                @if (ViewBag.IsYourself)
                {
                    <div class="btn corInvertida bottom" id="btnPesquisarEventos">Pesquisar Eventos</div>
                    <a class="btn-floating btn-large waves-effect waves-light red bottom"><i class="material-icons">add</i></a>
                }
                else if (ViewBag.IsLoggedIn)
                { <div class="btn corInvertida bottom" id="btnConvidarParaEvento" onclick="convidarParaEvento($('#idUsuarioYYY').html())">Convidar para Evento</div>}
            </div>
        </div>

        <div class="col s8" id="feed">
            <h4>Feed</h4>
            @if (ViewBag.IsYourself)
            {
                <div class="containerPost">
                    <input type="text" placeholder="Título" id="tituloPost" maxlength="100">
                    <textarea class="materialize-textarea txtPostar" placeholder="Escreva algo..."></textarea>
                    <div class="chips chips-autocomplete input-field chips-placeholder" id="chips"></div>
                    <div class="btn btnPostar" disabled onclick="publicar()">Postar</div>
                </div>
            }
            <div class="containerPost">
                <div class="informacoesPessoaisPublicacao">
                    <img class="fotoUsuarioPublicacao" src="@ViewBag.Usuario.FotoPerfil" />
                    <span class="nomeUsuarioPublicacao">@ViewBag.Usuario.Nome</span>
                    <span class="horarioPublicacao">07/05/2019 às 11:00</span>

                    <ul class="right">
                        <li>
                            <div class="chip">
                                <img src="https://lh6.googleusercontent.com/-VGm8e6HkRh4/AAAAAAAAAAI/AAAAAAAAFMA/gMy_UQkEgM0/photo.jpg">
                                Vinschers
                            </div>
                        </li>
                        <li>
                            <div class="chip">
                                <img src="https://lh4.googleusercontent.com/-np-kCz0tpjA/AAAAAAAAAAI/AAAAAAAAAcI/U86w-l8l9Gw/photo.jpg">
                                Gustavo Miller
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="tituloPublicacao">Batatas</h4>
                <hr />
                <p class="flow-text textoPublicacao">Batatas são legais, principalmente fritas. Lorem ipsum batatae, Lorem ipsum batatae, Lorem ipsum batatae, Lorem ipsum batatae;</p>
            </div>
        </div>
    </div>
}

<script src="../../Scripts/perfil.js"></script>
<link href="../../Content/perfil.css" rel="stylesheet" type="text/css" />