
@{
    /**/

    ViewBag.Title = "Publicacao";
}
<script>index = false;</script>
<link href="~/Content/publicacao.css" rel="stylesheet" />
@if (ViewBag.Publicacao == null)
{
    <h2 class="inverter">Publicação não encontrada!</h2>
}
else
{
    var post = "post" + ViewBag.Publicacao.IdPublicacao;
    <div class="containerPost" id="@post">
        <div class="informacoesPessoaisPublicacao">
            <a href="/Perfil/@ViewBag.Publicacao.IdUsuario"><img class="fotoUsuarioPublicacao" src="@ViewBag.UsuarioCriador.FotoPerfil" /></a>
            <span class="nomeUsuarioPublicacao">@ViewBag.UsuarioCriador.Nome</span>
            <span class="horarioPublicacao">@ViewBag.Publicacao.Data.ToString("dd/MM/yyyy") às @ViewBag.Publicacao.Data.ToString("t")</span>

            @if (ViewBag.IsYourself)
            {
                <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @ViewBag.Publicacao.IdPublicacao"><i class="material-icons">delete</i></a>
                <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@ViewBag.Publicacao.IdPublicacao)">edit</i></a>
            }

            <ul class="right">
                @foreach (var usuario in ViewBag.Publicacao.UsuariosMarcados)
                {
                    <li>
                        <a href="/perfil/@usuario.Id">
                            <div class="chip">
                                <img src="@usuario.FotoPerfil">
                                @usuario.Nome
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        @{
            var titulo = "titulo" + ViewBag.Publicacao.IdPublicacao;
            var descricao = "descricao" + ViewBag.Publicacao.IdPublicacao;
            var like = "like" + ViewBag.Publicacao.IdPublicacao;
            var likes = "likes" + ViewBag.Publicacao.IdPublicacao;
        }
        <h4 class="tituloPublicacao" id="@titulo">@ViewBag.Publicacao.Titulo</h4>
        <hr />
        <p class="flow-text textoPublicacao" id="@descricao">@ViewBag.Publicacao.Descricao</p>
        <hr />
        <div style="display: table">
            <div style="display: table-row">
                <div style="display: table-cell"><div class="btn-small btnGostar @(ViewBag.IdUsuarioLogado == null || !ViewBag.Publicacao.Gostou(ViewBag.IdUsuarioLogado) ? "grey" : "")" id="@like" onclick="gostarOuDesgostarDe(@ViewBag.Publicacao.IdPublicacao)"><i class="material-icons">thumb_up</i></div></div>
                <div class="qtosLikes" id="@likes">@ViewBag.Publicacao.Likes</div>
                <div class="responder"><span onclick="iniciarResposta(@ViewBag.Publicacao.IdPublicacao)">Responder</span></div>
                @{ var mostrar = "mostrar" + ViewBag.Publicacao.IdPublicacao; }
                <div id="@mostrar" class="mostrarComentarios"><span onclick="mostrarComentarios(@ViewBag.Publicacao.IdPublicacao, this)">Mostrar comentários</span></div>
            </div>
        </div>
    </div>
    @helper CarregarComentarios(GITS.ViewModel.Usuario.Publicacao publ, int profundidade)
        {
            if (publ.Comentarios.Count > 0)
            {
                var collapsible = "collapsible" + publ.IdPublicacao;
                <ul class="collapsible expandable" id="@collapsible" style="display: none;">
                    <li>
                        <div class="collapsible-header" style="display: none">Comentários</div>
                        <div class="collapsible-body corpoComentario" style="padding-top: 0;">
                            @foreach (var comentario in publ.Comentarios)
                            {
                                var post = "post" + comentario.IdPublicacao;
                                var profund = "profundidade" + (profundidade < 3 ? profundidade : 3);
                                <div class="containerPost @profund comentario" id="@post" style="margin-top: 2px;">
                                    <div class="informacoesPessoaisPublicacao">
                                        <a href="/Perfil/@comentario.IdUsuario"><img class="fotoUsuarioPublicacao" src="@comentario.Usuario.FotoPerfil" /></a>
                                        <span class="nomeUsuarioPublicacao">@comentario.Usuario.Nome</span>
                                        <span class="horarioPublicacao">@comentario.Data.ToString("dd/MM/yyyy") às @comentario.Data.ToString("t")</span>

                                        @if (ViewBag.IdUsuarioLogado != null && ViewBag.IdUsuarioLogado == comentario.IdUsuario)
                                        {
                                            <a class="btn-small deletarPublicacao modal-trigger" href="#modalDeletar" onclick="idPublicacaoADeletar = @comentario.IdPublicacao"><i class="material-icons">delete</i></a>
                                            <a class="btn-small editarPublicacao modal-trigger" href="#modalEditar"><i class="material-icons" onclick="comecarEdicaoPost(@comentario.IdPublicacao)">edit</i></a>
                                        }
                                    </div>
                                    @{
                                        var descricao = "descricao" + comentario.IdPublicacao;
                                        var like = "like" + comentario.IdPublicacao;
                                        var likes = "likes" + comentario.IdPublicacao;
                                    }
                                    <p class="flow-text textoPublicacao" id="@descricao">@comentario.Descricao</p>
                                    <hr />
                                    <div style="display: table">
                                        <div style="display: table-row">
                                            <div style="display: table-cell"><div class="btn-small btnGostar @(ViewBag.IdUsuarioLogado == null || !comentario.Gostou(ViewBag.IdUsuarioLogado) ? "grey" : "")" id="@like" onclick="gostarOuDesgostarDe(@comentario.IdPublicacao)"><i class="material-icons">thumb_up</i></div></div>
                                            <div class="qtosLikes" id="@likes">@comentario.Likes</div>
                                            <div class="responder"><span onclick="iniciarResposta(@comentario.IdPublicacao)">Responder</span></div>
                                            @{ var mostrar = "mostrar" + comentario.IdPublicacao; }
                                            <div id="@mostrar" class="mostrarComentarios"><span onclick="mostrarComentarios(@comentario.IdPublicacao, this)">Mostrar comentários</span></div>
                                        </div>
                                    </div>
                                </div>
                                @CarregarComentarios(comentario, profundidade + 1);
                            }
                        </div>
                    </li>
                </ul>
                <script>
                    $("#mostrar" + @publ.IdPublicacao).children(0).text(`Mostrar comentários (${@publ.Comentarios.Count})`);
                    if (@publ.Comentarios.Count < 3)
                        setTimeout(function () {
                            $("#mostrar" + @publ.IdPublicacao).children(0).click();
                        }, 50);
                </script>
            }
            else
            {
                <script>
                    $("#mostrar" + @publ.IdPublicacao).remove();
                </script>
            }
}
    @CarregarComentarios(ViewBag.Publicacao, 1);
}

@if (ViewBag.IsYourself)
{
    <div id="modalDeletar" class="modal">
        <div class="modal-content">
            <h4>Aviso</h4>
            <p>Deseja realmente excluir esta publicação? A ação não poderá ser desfeita.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="deletarPublicacao()">Continuar</a>
        </div>
    </div>

    <div id="modalEditar" class="modal">
        <div class="modal-content containerPost containerEditar">
            <h4 class="flow-text">Editar Publicação</h4>
            <input type="text" placeholder="Título" id="tituloEditar" maxlength="100">
            <textarea class="materialize-textarea txtEditar" placeholder="Escreva algo..."></textarea>
            <div class="btn btnEditar" onclick="editarPublicacao()">Atualizar</div>
        </div>
    </div>
}

<script src="~/Scripts/publicacao.js"></script>
